extends ../layout

block content
  .row
    .col-md-offset-2.col-md-6
      .jumbotron
        h1 Welcome youre logged!
        p ...
        p
          a.btn.btn-primary.btn-lg.logOut(role='button') Log Out

        