extends ../layout

block content
  div.row
    div.col-md-offset-2.col-md-6
      form.form-horizontal(action='log-in', method='POST')
        .form-group
          label.col-sm-2.control-label(for='email') Email
          .col-sm-10
            input#inputEmail3.form-control(name='email' type='email', placeholder='Email')
        .form-group
          label.col-sm-2.control-label(for='password') Password
          .col-sm-10
            input#inputPassword3.form-control(name='password' type='password', placeholder='Password')
        .form-group
          .col-sm-offset-2.col-sm-10
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit') Log in
            a.btn.btn-default(href='/register') Register
    p email: arrowleaf@sordidness.org password: lElLzIfRzsnAU
